{% load slider_tags %}
{% load static %}

    <!-- Основной слайдер -->
    {% if slides %}
    <div id="photos" class="photos">
        <div class="container">
          <h2 class="photos_subheader montserrat-bold text-center">Фотографии</h2>
          <div class="slider">
            <div class="slider-for">
                {% for slide in slides %}
                <div>
                    <a href="{{ slide.image.url }}" data-fancybox="gallery" data-caption="{{ slide.title }}">
                        <img src="{{ slide.image.url }}" alt="{{ slide.title }}">
                    </a>
                </div>
                {% endfor %}
            </div>          
        
            <div class="slider-nav">
                {% for slide in slides %}
                    <div><img src="{{ slide.image|thumbnail_url:'slider_thumb' }}" alt="{{ slide.title }}"></div>
                    <button class="slick-prev">Previous</button>
                    <button class="slick-next">Next</button>
                {% endfor %}
            </div>
          </div>
        </div>        
    </div>
    {% else %}
    <div id="photos" class="photos">
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <h2>Загрузите фотографии в слайдер, воспользовавшись админ-панелью!</h2>
        </div>
    </div>
    {% endif %}
    